[
    {
        rabbitmq_shovel, [ 
            {
                shovels, [ 
                    {
                        data_backup_shovel, 
                            [ 
                                {sources, [ 
                                    {broker, "amqp://guest:guest@rabbitmq1:5672"}, {queue, "backup-data"} ]},
                                {destinations, [ 
                                    {broker, "amqp://guest:guest@rabbitmq2:5672"}, {queue, "backup-data"} ]},
                                {queue, <<"backup-data">>}
                            ]
                    }
                ]
            }
        ]
    }
].