{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 mt-3">
            <h4>Classes</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Class Teacher</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for class in classes %}
                        <tr>
                            <td>{{ class.name }}</td>
                            <td>{{ class.teacher.name }}</td>
                            <td>
                                <a href="/class/{{ class._id }}/edit">Edit</a>
                                <form action="/class/{{ class._id }}/delete" style="display: inline-block" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-link">Delete</button>
                                </form>
                            </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}