{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col mt-3">
            <h3>Students</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Registration No</th>
                        <th>Class</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.name }}</td>
                            <td>{{ student.registration }}</td>
                            <td>{{ student.class.name }}</td>
                            <td>
                                <a href="{{ student._id }}/marks/create">Add Marks</a>
                                <a href="/student/{{ student.id }}">View</a>
                                <a href="/student/{{ student.id }}/edit">Edit</a>
                                <a href="/student/{{ student.id }}/delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}