{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 mt-3">
            <h4>Subjects</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for subject in subjects %}
                        <tr>
                            <td>{{ subject.name }}</td>
                            <td>
                                <!-- <a href="/teacher/{{ subject._id }}">View</a> -->
                                <a href="/subject/{{ subject._id }}/edit">Edit</a>
                                <!-- <a href="/teacher/{{ subject._id }}/delete">Delete</a> -->
                                <form action="/subject/{{ subject._id }}/delete" style="display: inline-block" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-link">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}