{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12" style="padding: 10px">
        <h4>Teachers</h2>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.name }}</td>
                            <td>{{ teacher.email }}</td>
                            <td>
                                <a href="/teacher/{{ teacher._id }}/edit">Edit</a>
                                <!-- Create delete form -->
                                <form action="/teacher/{{ teacher._id }}/delete" style="display: inline-block" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-link">Delete</button>
                                </form>
                                <!-- <a href="/teacher/{{ teacher._id }}/delete">Delete</a> -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
</div>
    